In [10]:
import pandas as pd
from nsepy import get_history
import datetime as dt
import yfinance as yf
    
# Define the start and end dates
start = dt.datetime(2021, 6, 1)
end = dt.datetime(2022, 1, 5)
symbol='AXISBANK.NS'

stk_data=yf.download(symbol, start=start, end=end)
stk_data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-01,753.549988,754.000000,741.150024,745.150024,742.489990,6660243
2021-06-02,744.799988,745.299988,734.200012,737.000000,734.369080,9973043
2021-06-03,743.000000,752.250000,739.000000,750.650024,747.970398,8170508
2021-06-04,751.000000,759.900024,740.099976,742.049988,739.401062,10336011
2021-06-07,743.099976,753.950012,741.500000,751.099976,748.418701,6986728
...,...,...,...,...,...,...
2021-12-29,674.500000,679.599976,667.250000,670.500000,668.106506,3969894
2021-12-30,668.000000,673.099976,664.500000,668.849976,666.462341,5119705
2021-12-31,672.950012,686.500000,671.200012,678.549988,676.127747,5586980
2022-01-03,680.250000,698.500000,679.000000,696.349976,693.864136,8550860
2022-01-04,701.000000,711.049988,700.049988,709.150024,706.618469,9705906

In [11]:
all_date = pd.date_range(start, end, freq='d')
all_date

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10',
               ...
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05'],
              dtype='datetime64[ns]', length=219, freq='D')

In [12]:
dummyDate=stk_data

In [13]:
dummyDate.index=all_date
dummyDate

ValueError: Length mismatch: Expected axis has 150 elements, new values have 219 elements

In [ ]:
import matplotlib.pyplot as plt
plt.plot(d["Close"])